<h5>New Post</h5>
<%= form_with model: @post, url: public_posts_path, method: :post do |f| %>
  <div class="form-group">
    <%= f.label :body, "投稿文" %>
    <%= f.text_field :body, class: "form-control" %>
  </div>
  <!--後ほどタグ付できるように-->
  <div class="form-group">
    <%= f.label :tag, "タグ" %>
    <%= f.select :category, [["バンドメンバー募集！", "バンドメンバー募集！"],["おすすめアーティスト", "おすすめアーティスト"],["イベント情報","イベント情報"]], include_blank: "選択してください。", class: "form-control " %>
  </div>
  <div class="form-group">
    <%= f.submit "投稿", class: "btn btn-primary" %>
  </div>
<% end %>
