<h3 class="my-3"><i class="fa-solid fa-pen"></i> 新規投稿</h3>
<%= form_with model: @post, url: public_posts_path, method: :post do |f| %>
  <div class="form-group">
    <%= f.label :tag, "タグ" %><br>
    <%= f.select :category, [["バンドメンバー募集！", "バンドメンバー募集！"],["おすすめアーティスト", "おすすめアーティスト"],["イベント情報","イベント情報"]], include_blank: "選択してください。", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body, "投稿文" %><br>
    <%= f.text_field :body, class: "form-group w-50", placeholder: "ポスト内容" %>
    <%= f.button :submit, class: "btn btn-primary" do %>
      <i class="fa-solid fa-paper-plane"></i>
    <% end %>
  </div>
<% end %>
