<h5>Post Detail</h5>
<table class="table">
  <tr>
    <td><%= image_tag @post.user.get_profile_image, size: "50x50" %></td>
    <td><%= link_to @post.user.name, public_user_path(@post.user.id) %></td>
    <td><%= @post.body %></td>
    <td>コメント数：<%= @post.post_comments.count %></td>
    <td id="favorite_btn_<%= @post.id %>">
      <%= render "public/favorites/favorite_btn", post: @post %>
    </td>
  <% if @user == current_user %>
    <td><%= link_to "To Edit", edit_public_post_path(@post), class: "btn btn-success" %></td>
    <td><%= link_to "Destroy", public_post_path(@post), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger" %></td>
  <% else %>
    <td></td>
    <td></td>
  <% end %>
  </tr>
</table>
<h5>コメント投稿</h5>
<%= form_with model: [@post, @post_comment], url: public_post_post_comments_path(@post), method: :post do |f| %>
  <div class="form-group">
    <%= f.text_area :comment, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Send", class: "btn btn-primary" %>
  </div>
<% end %>
<table class="table">
  <% @post.post_comments.each do |post_comment| %>
  <tr>
    <td><%= image_tag post_comment.user.get_profile_image, size: "50x50" %></td>
    <td><%= link_to post_comment.user.name, public_user_path(post_comment.user.id) %></td>
    <td><%= post_comment.comment %></td>
  <% if post_comment.user == current_user %>
    <td><%= link_to "Destroy", public_post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-danger" %></td>
  <% else %>
    <td></td>
  <% end %>
  </tr>
  <% end %>
</table>
