<div class="row">
  <div class="col-md-3">
    <%= render "public/users/info", user: @user %>
  </div>
  <div class="col-md-8 offset-1">
    <h3 class="my-3 p-2" style="background-color: #474343; color: white;">Post Detail</h3>
    <table class="table">
      <tr>
        <td><%= @post.body %><br>
      <% if @post.score.present? %>
        感情分析スコア <span class="score <%= @post.score >= 0 ? 'positive' : '' %>"><%= (@post.score * 10).floor %></span></td>
      <% end %>
        <td id="favorite_btn_<%= @post.id %>">
          <%= render "public/favorites/favorite_btn", post: @post %>
        </td>
        <td><i class="fa-regular fa-comment-dots"></i>：<%= @post.post_comments.count %></td>
      <% if @user == current_user %>
        <td><%= link_to "編集", edit_post_path(@post), class: "btn btn-success" %></td>
        <td><%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "投稿を削除します" }, class: "btn btn-danger" %><br><%= @post.created_at.strftime("%m/%d %H:%M") %></td>
      <% else %>
        <td><%= @post.created_at.strftime("%m/%d %H:%M") %></td>
      <% end %>
      </tr>
    </table>
    <h5 class="p-1" style="background-color: #474343; color: white;">Comment</h5>
    <table class="table">
      <% @post_comments.each do |post_comment| %>
      <tr class="list">
        <td><%= image_tag post_comment.user.get_profile_image, size: "50x50" %><br><%= link_to post_comment.user.name, user_path(post_comment.user.id) %></td>
        <td><%= post_comment.comment %><br>
      <% if post_comment.score.present? %>
        感情分析スコア <span class="score <%= post_comment.score >= 0 ? 'positive' : '' %>"><%= (post_comment.score * 10).floor %></span></td>
      <% end %>
      <% if post_comment.user == current_user %>
        <td><%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, data: { confirm: "コメントを削除します" }, class: "btn btn-danger" %><br><%= post_comment.created_at.strftime("%m/%d %H:%M") %></td>
      <% else %>
        <td><%= post_comment.created_at.strftime("%m/%d %H:%M") %></td>
      <% end %>
      </tr>
      <% end %>
    </table>
    <div class="item_paginate">
      <%= paginate @post_comments %>
    </div>
    <%= form_with model: [@post, @post_comment], url: post_post_comments_path(@post), method: :post do |f| %>
      <div>
        <%= f.text_field :comment, class: "form-group w-75", placeholder: "コメント" %>
        <%= f.button :submit, class: "btn btn-primary" do %>
          <i class="fa-solid fa-paper-plane"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<style>
  .list:hover {
    background-color: #FFEFC9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  }
  .item_paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .pagination {
    text-align: center;
    width: 50px;
    font-size: 20px;
  }
  .pagination span {
    text-align: center;
    width: 50px;
    font-size: 20px;
  }
  .pagination a {
    color: #818181;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .pagination a:hover{
    width: 50px;
    height: 50px;
    background-color: #474343;
    color: #FFF;
    border-radius: 100%;
    padding: 10px;
  }
  .current{
    font-weight: bold;
    color: #474343;
    padding: 10px;
  }
  .score {
    color: red;
  }
  .score.positive {
    color: blue;
  }
</style>
