<h2 class="my-3">管理者ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    メールアドレス<br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
  </div>

  <div class="form-group">
    パスワード<br />
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
  </div>

  <div class="form-group">
    <%= f.submit "Log in", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
