<style>
  .text-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 35px;
    color: white;
}
  .overlay {
    position: relative;
    margin: 0 auto;
    display: inline-block;
}
  .list:hover {
    background-color: #FFEFC9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  }
  .score {
    color: red;
  }
  .score.positive {
    color: blue;
  }
</style>
<div class="row">
  <button class="my-3">
    <%= link_to users_guest_sign_in_path, method: :post do %>
      <i class="fa-solid fa-user-check"></i> Guest Login!
    <% end %>
  </button>
</div>
<div class="row">
  <div class="overlay">
    <%= image_tag "live.jpg", width: 1200, height: 600 %>
    <div class="text-overlay">
      Band_Connectはバンドメンバー募集に加え<br>
      バンド内でのコミュニケーションツールとしてもご利用いただけます♪<br>
      皆様のバンドライフのお力添えになればと運営一同、思っております。<br>
    </div>
  </div>
</div>
<div class="row">
  <h3 class="my-3 p-2" style="background-color: #474343; color: white;">New Topic!!</h3>
  <table class="table">
    <tbody>
    <% @posts.each do |post| %>
      <tr class="list">
        <td><%= image_tag post.user.get_profile_image, size: "50x50" %></td>
        <td><%= post.user.name %></td>
        <td><%= post.body %><br>感情分析スコア <span class="score <%= post.score.present? && post.score >= 0 ? 'positive' : '' %>"><%= (post.score * 10).floor %></span></td>
      <% if user_signed_in? %>
        <td>
          <%= link_to public_post_path(post) do %>
            <i class="fa-regular fa-comment-dots"></i>：<%= post.post_comments.count %>
          <% end %>
        </td>
      <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
