<style>
  .text-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 35px;
  color: white;
}
.overlay {
  position: relative;
  margin: 0 auto;
  display: inline-block;
}

</style>
<div class="row">
  <button class="my-3">
    <%= link_to users_guest_sign_in_path, method: :post do %>
      <i class="fa-solid fa-user-check"></i>Guest Login!
    <% end %>
  </button>
</div>
<div class="row">
  <div class="overlay">
    <%= image_tag "live.jpg", width: 1200, height: 600 %>
    <div class="text-overlay">
      Band_Connectはバンドメンバー募集に加え<br>
      バンド内でのコミュニケーションツールとしてもご利用いただけます♪<br>
      皆様のバンドライフのお力添えになればと運営一同、思っております。<br>
    </div>
  </div>
</div>
<div class="row">
  <h3 class="my-3 p-2" style="background-color: #474343; color: white;">New Topic!!</h3>
  <table class="table">
    <tbody>
    <% @posts.first(10).each do |post| %>
      <tr>
        <td><%= image_tag post.user.get_profile_image, size: "50x50" %></td>
        <td><%= post.user.name %></td>
        <td><%= post.body %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>