<h3 class="my-3"><i class="fa-solid fa-music"></i> バンド情報編集</h3>
<div style="text-align: center;">
  <%= form_with model: @band, url: public_band_path(@band), method: :patch do |f| %>
    <div class="form-group">
      <i class="fa-solid fa-paperclip"></i> <%= f.label :band_image, "バンド画像" %> <i class="fa-solid fa-paperclip"></i>
      <%= f.file_field :band_image, class: "form-control" %>
    </div>
    <div class="form-group">
      <i class="fa-solid fa-users"></i> <%= f.label :name, "バンド名" %> <i class="fa-solid fa-users"></i>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <i class="fa-solid fa-music"></i> <%= f.label :genre, "バンドジャンル" %> <i class="fa-solid fa-music"></i><br>
      <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %>
    </div>
    <div class="form-group">
      <i class="fa-solid fa-circle-info"></i> <%= f.label :introduction, "バンド紹介" %> <i class="fa-solid fa-circle-info"></i>
      <%= f.text_area :introduction, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :status, "バンドステータス" %> <i class="fa-regular fa-hand-point-up"></i><br>
      <%= f.radio_button :band_status, "true" %> 募集中　
      <%= f.radio_button :band_status, "false" %> 締切
    </div>
    <div class="form-group">
      <%= f.submit "Save", class: "btn btn-success btn-block" %>
    </div>
  <% end %>
</div>
