<div class="row">
  <div class="col-md-3">
    <%= render "info", band: @band %>
    <% if current_user.id == @band.owner_id %>
    <div>
      <%= link_to edit_public_band_path(@band), class: "btn btn-success btn-block" do %>
        <i class="fa-solid fa-gears"></i> 編集 <i class="fa-solid fa-gears"></i>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="col-md-8 offset-md-1">
    <%= render "button", band: @band %>
    <h5>Band Member's</h5>
    <table class="table">
      <thead style="background-color: #474343; color: white;">
        <tr>
          <th>image</th>
          <th>name</th>
          <th>part</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @band.users.each do |user| %>
        <tr class="list">
          <td><%= image_tag user.get_profile_image, size: "50x50" %></td>
          <td><%= link_to user.name, public_user_path(user.id) %></td>
          <td><%= user.musical_instrument.name %></td>
        <% if @band.owner_id == user.id %>
          <td><i class="fa-solid fa-people-group"></i> Leader <i class="fa-solid fa-people-group"></i></td>
        <% else %>
          <td></td>
        <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<style>
  .list:hover {
    background-color: #FFEFC9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  }
</style>