<div class="col-md-3">
  <h5>Group Detail</h5>
  <table class="table">
    <tr><%= image_tag @band.get_band_image, size: "100x100" %></tr>
    <tr>
      <th>name</th>
      <th><%= @band.name %></th>
    </tr>
    <tr>
      <th>genre</th>
      <th><%= @band.genre.name %></th>
    </tr>
    <tr>
      <th>member</th>
      <th><%= @band.users.count %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @band.introduction %></th>
    </tr>
    <tr>
      <th>status</th>
      <!--後ほど、バンドステータスを入れます-->
      <th></th>
    </tr>
  </table>
  <div><%= link_to "Edit", edit_public_band_path(@band), class: "btn btn-success" %></div>
</div>
<div class="col-md-8 offset-md-1">
<% if @band.band_members.exists?(user_id: current_user.id) %>
  <%= link_to "バンド脱退", public_band_band_members_path(@band), method: :delete, class: "btn btn-danger", data: { confirm: "バンドを脱退します" } %>
<% elsif @band.band_permits.exists?(user_id: current_user.id) %>
  <%= link_to "申請取消", public_band_band_permits_path(@band), method: :delete, class: "btn btn-danger", data: { confirm: "申請を取り消します" } %>
<% else %>
  <%= link_to "加入申請", public_band_band_permits_path(@band), method: :post, class: "btn btn-primary" %>
<% end %>
<% if @band.owner_id == current_user.id %>
  <%= link_to "承認待ち一覧", public_band_band_permits_path(@band), class: "btn btn-primary" %>
<% end %>
  <h5>Band_Member's</h5>
  <table class="table">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <% @band.users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: "50x50" %></td>
        <td><%= user.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
