<h3 class="my-3">会員一覧</h3>
<table class="table">
  <thead style="background-color: #474343; color: white;">
    <tr>
      <th>会員ID</th>
      <th>画像</th>
      <th>アカウント名</th>
      <th>所属バンド</th>
      <th>担当楽器</th>
      <th>モチベーション</th>
      <th>会員ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= image_tag user.get_profile_image, size: "50x50" %></td>
      <td><%= link_to user.name, admin_user_path(user.id) %></td>
    <% if user.bands.blank? %>
      <td>未加入</td>
    <% else %>
      <td><%= user.bands.pluck(:name).join("　") %></td>
    <% end %>
      <!--&は後々消します。-->
      <td><%= user.musical_instrument&.name %></td>
      <td><%= user.motivation&.name %></td>
    <% if user.is_active == true %>
      <td>有効</td>
    <% else %>
      <td>退会済</td>
    <% end %>
    </tr>
    <% end %>
  </tbody>
</table>