<div class="row">
  <div class="col-md-3">
    <%= render "public/bands/info", band: @band %>
  </div>
  <div class="col-md-8 offset-md-1">
    <div class="row my-3" style="display: flex; align-items: center;">
      <%= form_with model: @band, url: admin_band_path(@band), method: :patch do |f| %>
        <div class="form-group p-2" style="background-color: #474343; color: white;">
          <%= f.label :status, "バンドステータス" %>
          <%= f.radio_button :band_status2, "true" %> 正常
          <%= f.radio_button :band_status2, "false" %> 問題アリ
          <%= f.submit "Save", class: "btn btn-success" %>
        </div>
      <% end %>
      <% if @band.band_status2 == false %>
        <p class="text-danger ml-auto"><i class="fa-solid fa-triangle-exclamation"></i>問題アリ<i class="fa-solid fa-triangle-exclamation"></i></p>
      <% end %>
    </div>
    <h5>Band_Member's</h5>
    <table class="table">
      <thead style="background-color: #474343; color: white;"
        <tr>
          <th>image</th>
          <th>name</th>
        </tr>
      </thead>
      <tbody>
        <% @band.users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image, size: "50x50" %></td>
          <td><%= link_to user.name, admin_user_path(user.id) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>