<div class="row">
  <div class="col-md-3">
    <%= render "public/users/info", user: @user %>
  </div>
  <div class="col-md-8 offset-1">
    <div class="row my-3">
      <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>
        <div class="form-group p-2" style="background-color: #474343; color: white;">
          <%= f.label :status, "会員ステータス" %>
          <%= f.radio_button :is_active, "true" %><%= f.label :is_active, '有効', value: true %>　
          <%= f.radio_button :is_active, "false" %><%= f.label :is_active, 'ブロックする', value: false %>
          <%= f.submit "Save", data: {confirm: "ステータスを更新します"}, class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <table class="table">
        <thead style="background-color: #474343; color: white;">
          <th><%= @user.name %>'s Posts</th>
          <th></th>
        </thead>
        <tbody>
        <% @posts.each do |post| %>
          <tr class="list">
            <td><%= post.body %><br>
          <% if post.score.present? %>
            感情分析スコア <span class="score <%= post.score.present? && post.score >= 0 ? 'positive' : '' %>"><%= (post.score * 10).floor %></span></td>
          <% end %>
            <td style="text-align: right;"><%= link_to "削除", admin_post_path(post.id), method: :delete, data: {confirm: "ポストを削除します"}, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="item_paginate">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
<style>
  .list:hover {
    background-color: #FFEFC9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  }
  .item_paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .pagination {
    text-align: center;
    width: 50px;
    font-size: 20px;
  }
  .pagination span {
    text-align: center;
    width: 50px;
    font-size: 20px;
  }
  .pagination a {
    color: #818181;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .pagination a:hover{
    width: 50px;
    height: 50px;
    background-color: #474343;
    color: #FFF;
    border-radius: 100%;
    padding: 10px;
  }
  .current{
    font-weight: bold;
    color: #474343;
    padding: 10px;
  }
  .score {
    color: red;
  }
  .score.positive {
    color: blue;
  }
</style>
