<h1>モチベーション一覧・追加</h1>
<%= form_with model: @motivation, url: admin_motivations_path, method: :post do |f| %>
  <h6>ジャンル名</h6>
  <%= f.text_field :name %>
  <%= f.submit "Create New", class: "btn btn-primary" %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>モチベーション</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @motivations.each do |motivation| %>
    <tr>
      <td><%= motivation.name %></td>
      <td><%= link_to "To Edit", edit_admin_motivation_path(motivation.id), class: "btn btn-success" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
