<h3 style="text-align: center; margin: 10px auto;"><%= user.name %>'s page</h3>
<table class="table">
  <tr><%= image_tag user.get_profile_image, size: "100x100", style: "display: block; margin: 15px auto;" %></tr>
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>band</th>
  <% if user.bands.blank? %>
    <th>未加入</th>
  <% else %>
    <th>
      <% user.bands.each do |band| %>
        <%= link_to band.name, public_band_path(band.id) %>
      <% end %>
    </th>
  <% end %>
  </tr>
  <tr>
    <th>part</th>
    <th><%= user.musical_instrument.name %></th>
  </tr>
  <tr>
    <th>motivation</th>
    <th><%= user.motivation.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
</table>
