<h3 class="mt-3 p-2" style="background-color: #474343; color: white;"><%= @user.name %>'s Bookmark Posts</h3>
<table class="table">
  <% @bookmark_posts.each do |post| %>
  <tr class="list">
    <td><%= image_tag post.user.get_profile_image, size: "50x50" %><br><%= link_to post.user.name, public_user_path(post.user.id) %></td>
    <td><%= post.body %><br>
  <% if post.score.present? %>
    感情分析スコア <span class="score <%= post.score >= 0 ? 'positive' : '' %>"><%= (post.score * 10).floor %></span></td>
  <% end %>
    <td>
      <%= link_to public_post_path(post) do %>
        <i class="fa-regular fa-comment-dots"></i>：<%= post.post_comments.count %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<style>
  .list:hover {
    background-color: #FFEFC9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  }
  .score {
    color: red;
  }
  .score.positive {
    color: blue;
  }
</style>