<h3 class="my-3 p-2" style="background-color: #474343; color: white;"><%= @user.name %>'s Favorite Posts</h3>
<table class="table">
  <% @bookmark_posts.each do |post| %>
  <tr>
    <td><%= image_tag post.user.get_profile_image, size: "50x50" %><br><%= link_to post.user.name, public_user_path(post.user.id) %></td>
    <td><%= post.body %></td>
    <td><i class="fa-regular fa-comment-dots"></i>：<%= post.post_comments.count %></td>
    <td>
      <%= link_to public_post_path(post) do %>
        <i class="fa-solid fa-magnifying-glass-plus"></i>詳しく
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
