<div class="row">
  <div class="col-md-3">
    <%= render "info", user: @user %>
    <% if @user == current_user %>
      <%= link_to edit_public_user_path(@user), class: "btn btn-success btn-block" do %>
        <i class="fa-solid fa-user-gear"></i>
      <% end %>
      <%= link_to public_dm_rooms_path, class: "btn btn-secondary btn-block my-3" do %>
        <i class="fa-solid fa-envelope"></i> 一覧
      <% end %>
    <% else %>
      <% if @is_room == true %>
        <%= link_to public_dm_room_path(@dm_room_id), class: "btn btn-secondary btn-block my-3" do %>
          <i class="fa-solid fa-envelope"></i>
        <% end %>
      <% else %>
        <% if @is_same_band_member %>
          <%= form_for [:public, @dm_room] do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
            <%= f.button :submit, class: "btn btn-secondary btn-block my-3" do %>
              New <i class="fa-solid fa-envelope"></i>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-8 offset-1">
    <div class="row d-flex justify-content-between">
      <% if current_user.id == @user.id %>
        <div class="m-3"><%= link_to "New Post", new_public_post_path, class: "btn btn-primary" %></div>
        <div class="m-3"><%= link_to "Create Band", new_public_band_path, class: "btn btn-primary" %></div>
      <% end %>
      <div class="m-3"><%= link_to "Bookmark Posts", bookmarks_public_user_path(@user),  class: "btn btn-primary" %></div>
    </div>
    <div class="row">
      <table class="table">
        <thead style="background-color: #474343; color: white;">
          <th><%= @user.name %>'s Posts</th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
        <% @posts.each do |post| %>
          <tr class="list">
            <td><%= post.body %><br>
          <% if post.score.present? %>
            感情分析スコア <span class="score <%= post.score >= 0 ? 'positive' : '' %>"><%= (post.score * 10).floor %></span></td>
          <% end %>
            <td>
              <%= link_to public_post_path(post) do %>
                <i class="fa-regular fa-comment-dots"></i>：<%= post.post_comments.count %>
              <% end %>
            </td>
            <td></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="item_paginate">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
<style>
  .list:hover {
    background-color: #FFEFC9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  }
  .item_paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .pagination {
    text-align: center;
    width: 50px;
    font-size: 20px;
  }
  .pagination span {
    text-align: center;
    width: 50px;
    font-size: 20px;
  }
  .pagination a {
    color: #818181;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .pagination a:hover{
    width: 50px;
    height: 50px;
    background-color: #474343;
    color: #FFF;
    border-radius: 100%;
    padding: 10px;
  }
  .current{
    font-weight: bold;
    color: #474343;
    padding: 10px;
  }
  .score {
    color: red;
  }
  .score.positive {
    color: blue;
  }
</style>
