<h5><%= @user.name %>'s page</h5>
<% if current_user.id == @user.id %>
  <div><%= link_to "New Post", new_public_post_path, class: "btn btn-primary" %></div>
  <div><%= link_to "New Band", new_public_band_path, class: "btn btn-primary" %></div>
<% end %>
<div><%= link_to "Favorite Posts", bookmarks_public_user_path(@user),  class: "btn btn-primary" %></div>
<table class="table">
  <tr><%= image_tag @user.get_profile_image, size: "100x100" %></tr>
  <tr>
    <th>name</th>
    <th><%= @user.name %></th>
  </tr>
  <tr>
    <th>Belongs to band</th>
  <% if @user.bands.blank? %>
    <th>未加入</th>
  <% else %>
    <th><%= @user.bands.pluck(:name).join("　") %></th>
  <% end %>
  </tr>
  <tr>
    <th>musical instrument in charge</th>
    <th><%= @user.musical_instrument.name %></th>
  </tr>
  <tr>
    <th>motivation</th>
    <th><%= @user.motivation.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= @user.introduction %></th>
  </tr>
</table>
<% if @user == current_user %>
  <%= link_to "プロフ編集(いずれアイコンにします)", edit_public_user_path(@user), class: "btn btn-success" %>
  <%= link_to "トーク一覧", public_dm_rooms_path %>
<% else %>
  <% if @is_room == true %>
    <%= link_to "DM(のちにメールアイコンへ)", public_dm_room_path(@dm_room_id) %>
  <% else %>
    <%= form_for [:public, @dm_room] do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, value: @user.id %>
      <% end %>
      <%= f.submit "New DM(のちにメールアイコンへ)" %>
    <% end %>
  <% end %>
<% end %>
