<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #474343; ">
    <div class="container">
      <a class="navbar-brand" href="/"><%= image_tag("logo.png", width: 100, height: 70) %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <div class="mt-3 mr-5 pr-5" style="color: white;">
            Welcome！<%= current_user.name %>！
          </div>
          <li class="nav-item">
          <%= link_to public_user_path(current_user.id), class: 'nav-link' do %>
            <button type="button" class="btn btn-outline-light"><i class="fa-solid fa-user"></i> My Page</button>
          <% end %>
          </li>
          <li class="nav-item">
          <%= link_to public_posts_path, class: 'nav-link' do %>
            <button type="button" class="btn btn-outline-light"><i class="fa-regular fa-comment-dots"></i> Posts</button>
          <% end %>
          </li>
          <li class="nav-item">
          <%= link_to public_users_path, class: 'nav-link' do %>
            <button type="button" class="btn btn-outline-light"><i class="fa-solid fa-users"></i> Users</button>
          <% end %>
          </li>
          <li class="nav-item">
          <%= link_to public_bands_path, class: 'nav-link' do %>
            <button type="button" class="btn btn-outline-light"><i class="fa-solid fa-music"></i> Bands</button>
          <% end %>
          </li>
          <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
            <button type="button" class="btn btn-outline-light"><i class="fa-solid fa-right-from-bracket"></i> Log Out</button>
          <% end %>
          </li>
        <% else %>
          <li class="nav-item">
          <%= link_to public_posts_path, class: 'nav-link' do %>
            <button type="button" class="btn btn-outline-light"><i class="fa-regular fa-comment-dots"></i> Posts</button>
          <% end %>
          </li>
          <li class="nav-item">
          <%= link_to public_bands_path, class: 'nav-link' do %>
            <button type="button" class="btn btn-outline-light"><i class="fa-solid fa-music"></i> Bands</button>
          <% end %>
          </li>
          <li class="nav-item">
          <%= link_to new_user_registration_path, class: 'nav-link' do %>
            <button type="button" class="btn btn-outline-light"><i class="fa-solid fa-user-plus"></i> Sign Up</button>
          <% end %>
          </li>
          <li class="nav-item">
          <%= link_to user_session_path, class: 'nav-link' do %>
            <button type="button" class="btn btn-outline-light"><i class="fa-solid fa-right-to-bracket"></i> Log In</button>
          <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  <% if user_signed_in? %>
    <%= render "public/searches/window" %>
  <% end %>
  </nav>
</header>