<!DOCTYPE html>
<html>
  <head>
    <title>Bandconnect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/41df1fbdb3.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      body {
        background-color: #F7F1E1;
      }
      main {
        margin-bottom: 60px;
        padding-top: 5px;
        padding-bottom: 10px;
      }
      .flash-message {
        border-radius: 5px;
        padding: 16px 24px;
        margin: 16px 0px;
      }
       
      .flash-message.notice {
        background-color: #bcdfff;
        color: #0067C0;
        border: solid 1px #0067C0;
      }
       
      .flash-message.alert {
        background-color: #ffd4d1;
        color: #930403;
        border: solid 1px #930403;
      }
    </style>
  </head>

  <body>
    <% if request.fullpath.include? "/admin" %>
      <%= render "layouts/admin_header" %>
    <% else %>
      <%= render "layouts/public_header" %>
    <% end %>
    <main>
      <div class="container">
        <% flash.each do |message_type, message| %>
          <div class="flash-message <%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
      </div>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
